@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: 'DM Sans', sans-serif !important;
}
.swiper-wrapper {
  width: 100%;
  display: flex !important;
}
.swiper-wrapper > .swiper-slide > div {
  border: 1px solid white;
  padding: 16px;
  border-radius: 16px;
  background-color: #f5f6fb;
}

.swiperContainer {
  &::-webkit-scrollbar {
    background: transparent; /* make scrollbar transparent */
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}

/* Chrome */
.slider-thumb::-webkit-slider-thumb {
  @apply w-5 h-5 bg-[#4ECB71] border-[#4ECB71] border-2 rounded-full cursor-pointer appearance-none mt-1; /* Adjusted styles */
  margin-top: -0.4rem; /* Adjust for proper alignment */
}

.slider-track::-webkit-slider-runnable-track {
  @apply h-1 bg-[#4ECB71] cursor-pointer;
}

.slider-thumb:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px rgba(5, 150, 105, 0.5); /* Add green outline on focus */
}
/* Firefox */
.slider-thumb::-moz-range-thumb {
  @apply w-5 h-5 bg-green-500 border-green-500 border-2 rounded-full cursor-pointer;
}

.slider-track::-moz-range-track {
  @apply h-1 bg-green-500 cursor-pointer;
}

/* IE */
.slider-thumb::-ms-thumb {
  @apply w-5 h-5 bg-[#4ECB71] border-[#4ECB71] border-2 rounded-full cursor-pointer;
}

.slider-track::-ms-track {
  @apply w-full h-1 cursor-pointer bg-transparent border-0;
}

.slider-track::-ms-fill-lower {
  @apply bg-[#4ECB71];
}

.slider-track::-ms-fill-upper {
  @apply bg-gray-300;
}

.scroll-item-box {
  min-width: 120px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  animation: typing 6.5s steps(100, end), blink-caret 0.2s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text-shadow {
  @apply text-white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  @apply text-white;
  text-shadow: 4px 4px 20px rgb(56, 142, 60), -4px 4px 25px rgb(56, 142, 60);
}
.rfm-marquee-container1 {
  overflow-x: visible !important;
  display: block !important;
}
